$blue = #03a9f4
$blueHover = #4dc2f7
$red = #ff262b
$redHover = #ff5a5d
$yellow = #ffc540
$yellowHover = #ffdd8e
$green = #00d12a
$greenHover = #00e380
$errorFontColor = #cc0000
$errorBackground = #dd8888
$sectionGray = #1e1e1e
$sectionBrown = #9f6020
$labelWidth = 100px
$thumbDragging = $blueHover
$tableDark = #101010
$tableLight = #2c2c2c
$tabGray = #333333

$scrollbarWidth = 18px
$navWidth = 257.5px
$navWidthTouchscreen = 242.5px
$boxShadowOffset = 5px
$boxShadowBlur = 10px
$boxShadowSpread = 0
$boxShadowColor = rgba(0, 0, 0, 0.3)
$boxShadowBottom = 0 $boxShadowOffset $boxShadowBlur $boxShadowSpread $boxShadowColor
$boxShadowLeft = ($boxShadowOffset * -1) 0 $boxShadowBlur $boxShadowSpread $boxShadowColor
$boxShadowRight = $boxShadowOffset 0 $boxShadowBlur $boxShadowSpread $boxShadowColor
$boxShadowTop = 0 ($boxShadowOffset * -1) $boxShadowBlur $boxShadowSpread $boxShadowColor
$logoWidth = 175px
$logoHeight = (28.36 / 175) * $logoWidth
$logoMarginVertical = 22px
$logoMarginVerticalTouchscreen = 12px
$navAppHeight = $logoHeight + $logoMarginVertical * 2
$navAppHeightTouchscreen = $logoHeight + $logoMarginVerticalTouchscreen * 2
$navLandingHeight = 70px
$navLandingHeightTouchscreen = 64px
$barIconHeight = 18px
$barIconWidth = ($barIconHeight * 1.25)
$navPaddingLeft = 21px
$navLineHeight = (25 / 9) em

$general = $yellow
$personal = $red

$league = $blue
$leagueHover = $blueHover
$qualification = $red
$qualificationHover = $redHover
$friendly = $yellow
$friendlyHover = $yellowHover
$play-off = $green
$play-offHover = $greenHover

$matchesTypes = ('friendly' 'qualification' 'league' 'play-off')
